{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block css %}
<link href={{ url_for('static', filename='css/all.css') }} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<main>
  <form action ={{url_for('rated')}}>
  <label for = "question">Question: {{question}}</label>
  <input type = "hidden" id = "question" name = "question" value = "{{question}}">
  <br>
  <label for = "answer">Response: {{answer}}</label>
  <input id = "answer" name = "answer" value ="{{answer}}" type = "hidden">
  <br>
  <label for="rating">Rate your reponse {{username}}(-1 is bad, 0 is neutral, 1 is good):</label>
  <input type="number" id="rating" name="rating" min="-1" max="1" value=0><br><br>
  <input type="submit" value="Submit" class= "button">
  </form>
</main>
{% endblock %}