{% extends "base.html" %}

{% block title %}Home{% endblock %}
{% block css %}
<link href={{ url_for('static', filename='css/all.css') }} rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<button>Hello</button>
<script type="text/javascript">
  (function(d, t) {
      var v = d.createElement(t), s = d.getElementsByTagName(t)[0];
      v.onload = function() {
        window.voiceflow.chat.load({
          verify: { projectID: '6455a4303f537b00072badd2' },
          url: 'https://general-runtime.voiceflow.com',
          versionID: 'production'
        });
      }
      v.src = "https://cdn.voiceflow.com/widget/bundle.mjs"; v.type = "text/javascript"; s.parentNode.insertBefore(v, s);
  })(document, 'script');
</script>
{% endblock %}